<!-- <div data-sticky-container>
  <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="title-bar-left">
      <ul class="menu">
        <li><a href="#">One</a></li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
        <li><a href="#">Four</a></li>
      </ul>
    </div>
    <div class="title-bar-right"> testright</div>
  </div>
</div>

<h1>hello world</h1>

<div class="grid-x">
  <div class="cell">full width cell</div>
  <div class="cell">full width cell</div>
</div>
<div class="grid-x">
  <div class="cell small-6">6 cells</div>
  <div class="cell small-6">6 cells</div>
</div>
<div class="grid-x">
  <div class="cell medium-6 large-4">12/6/4 cells</div>
  <div class="cell medium-6 large-8">12/6/8 cells</div>
</div>


<h2>Login</h2>


<button>Google</button>
<button>Facebook</button>
<button>Reddit</button> -->

<ul>
  <li><a routerLink="/debug">debug</a></li>
  <li><a routerLink="/">home</a></li>
  <li><a routerLink="/profile">profile</a></li>
  <li><a routerLink="/exchanges">exchange list</a></li>
  <li><a routerLink="/exchanges/150">exchange specifique</a></li>
  <li><a routerLink="/gallery">gallery</a></li>
  <li><a routerLink="/about">about</a></li>
</ul>
<router-outlet></router-outlet>